# Ineuron Python FSDS Assignment 1

### 1. In the below elements which of them are values or an expression?
eg:- values can be integer or string and expressions will be mathematical operators.

(*) 
'hello'
-87.8
(-) 
(/) 
(+)	
6

### Ans : 
* = mathematical operator,
'hello' = string,
-87.8 = float,
- = mathematical operator,
/ = mathematical operator,
+ = mathematical operator,
6 = integer

### 2. What is the difference between string and variable?

### Ans:

#### Variables: A variable is an identifier which is used to store a value in a memory location and to manipulate it if needed.

Example: x = 10 y = 20

#### Strings: Anything assigned to a variable using quotes (single or double) will be considered as a string.

Example: a = "1" b = "2" print(a+b)
output: '12'

### 3. Describe three different data types

### Ans :
Variables can store data of different types, and different types can do different things.

Numeric type = integer : a = 6 type(a) output: int OR float : a = 6.3 type(a) output: float

Text type = string : a = "6.3" type(a) output: string

Sequence type = list: a = ["apple", "banana", "cherry"] output: ['apple', 'banana', 'cherry']

### 4. What is an expression made up of? What do all expressions do?

### Ans: 
An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. If we ask Python to print an expression, the interpreter evaluates the expression and displays the result.

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

### Ans :
An Expression always evaluates to a value whereas a statement does something, like creating a variable or displaying a value, it only does whatever the statement says. Example: spam = 10 is a statement it is allocating the value 10 to varible spam.

### 6. After running the following code, what does the variable bacon contain?
bacon = 22, 
bacon + 1

In [3]:
bacon = 22
bacon + 1

23

In [4]:
print(bacon)

22

 #### in the above code the value was increased to 23 as we added 1 to the pre-existing bacon value but the original alue of bacon will still be 22

### 7. What should the values of the following two terms be?
'spam' + 'spamspam',
'spam' * 3

In [6]:
'spam' + 'spamspam'

'spamspamspam'

In [8]:
'spam' * 3

'spamspamspam'

#### in both the conditions the output will remain same spam will be printed three times

### 8. Why is eggs a valid variable name while 100 is invalid?

### Ans :
In python there are cerrtain varble rules that are needed to be followed. A variable can have a short name (like x and y) or a more descriptive name (age, carname, totalvolume). A variable name must start with a letter or the underscore character A variable name cannot start with a number A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and ) Variable names are case-sensitive (age, Age and AGE are three different variables)

Thus, eggs being written in form of letters or characters is valid while 100 being an interger is not valid.

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [9]:
a = int(5)
print(type(a))
b = float(5.5)
print(type(b))
c = str("5ashish")
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

### 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [11]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [12]:
#Because we can only concatenate str (not "int") to str. we can typecast like below to convert int to string
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'